.list {
  list-style: none;
	list-style-position: inside;
}

.list__item {

}

.list--ordered { 
	list-style-type: decimal;
}

.list--unordered { 
  list-style-type: disc;
}

.list--outside {
	list-style-position: outside;
}