<div>
  <span>{{attribs.title}}</span>
  {{#component "atom/card" title="Inside the world"}}
    <span>{{attribs.title}}!</span>

    {{#component "atom/button" addClass="button-hello" href="#/"}}
      <span>{{attribs.title}}...</span>
    {{/component}}
  {{/component}}
</div>