<div {{classAttrib "productlist" attribs.addClass}}>
	{{#each attribs.products as |product|}}
		{{component "molecule/product"
				title=product.title
				url=product.url
				feature=product.details}}
	{{/each}}
</div>
