{{#component "atom/card" addClass=(joinSpace "product" addClass) }}
	{{#component "atom/card__contents"}}
	    {{#component "atom/heading--h3"}}{{title}}{{/component}}
	    <div class="product__label">includes:</div>
	    {{{children}}}
	{{/component}}
	
	{{#if href}}
		{{#component "atom/button" addClass=buttonClass href=href}}{{cost}} / month{{/component}}
	{{/if}}
{{/component}}