.product {
	.heading {
		word-spacing: 100em;
		margin-bottom: 0.75em;
		
	    &:first-line {
	    	font-size: 1.6em;
	    	line-height: 1em;
	    }
	}

	.button {
		margin-top: 10px;
		width: 100%;
	}
}

.product__label {
	color: color(medium);
	font-size: 75%;
}