.heading {
	font-weight: bold;
}

h1.heading { font-size: 2em; }
h2.heading { font-size: 1.8em; }
h3.heading { font-size: 1.65em; }
h4.heading { font-size: 1.50em; }
h5.heading { font-size: 1.35em; }
h6.heading { font-size: 1.2em; }