:root {
  --strata-padding: 6vw;
  --strata-banner: 6vw;
}

@media (min-width: breakpoint(medium-large)) {
  :root {
    --strata-banner: 12vw 2vw;
  }  
}

.strata {
  padding: var(--strata-padding);
}

.strata--banner {
  padding: var(--strata-banner);
}
