<!DOCTYPE html>
<html>
<head>
  <title>{{siteTitle}}</title>
</head>
<body>

<header>{{siteTitle}}</header>

{{>productlist addClass="myproducts" products=myproducts}}

<footer>{{copyright}}</footer>
</body>
</html>
