:root {
  --base-font-size: 100%;
}

@media (min-width: breakpoint(large)) {
  :root {
    --base-font-size: 140%;
  }  
}

@media (min-width: breakpoint(small)) {
  :root {
    --base-font-size: 120%;
  }  
}


html, body{
  margin: 0;
  padding: 0;
}

html {
  background-color: color(light);
  color: color(dark);
}

body {
  font-family: menlo;
  font-size: var(--base-font-size);
  line-height: 1.5em;

  scroll-behavior: smooth;
}